# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env.*
# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Images / cache
/tmp/

#credentials file
credentials*.pem
*.key
_secrets/
.env
service_account*.json
